/*
:root {
  --color-primary: #800020;


  --color-secondary-3: #f4f4f4;
  --color-text: #333333;
  --color-bg: #ffffff;
}
*/
.footer {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
}

/* Top section: ubicaciones y enlace */
.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer__about {
  flex: 1 1 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.footer__about-logo img {
  max-height: 60px;
  width: auto;
  border-radius: 50%;
}

.footer__about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--color-text);
}

.footer__location1,
.footer__location2,
.footer__link {
  flex: 1 1 220px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__location1 h4,
.footer__location2 h4 {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-bg);
}

.footer__location1 p,
.footer__location2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.4;
  color: var(--color-text);
}

/* link de contacto como buton */
.footer__link h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-text);
}

.footer__contact-btn {
  display: inline-block;
  text-align: center;
  margin-top: auto;
  margin-left: 70px;
  padding: 0.75rem 1rem;
  background-color: var(--color-text);
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
  transition: opacity 0.2s ease;
  width: 70%;
}
.footer__contact-btn:hover {
  opacity: 0.8;
}

/* social net */
.footer__social {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.footer__social a {
  font-size: 2rem;
  color: var(--color-text2);
  transition: color 0.2s ease;
}
.footer__social a:hover {
  color: var(--color-text);
}

/* Bottom copyright */
.footer__bottom {
  text-align: center;
  font-size: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 1rem;
}
