/* homePage.css */

/* Variables (de globals.css) */
/*
:root {
  --color-primary: #800020;
  --color-secondary-1: #ffd700;
  --color-secondary-2: #005f73;
  --color-secondary-3: #f4f4f4;
  --color-text: #333333;
  --color-bg: #ffffff;
}
*/

.home_content {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.home__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.home__overVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 0 1rem;
  box-sizing: border-box;
  z-index: 1;
}

.home__overVideo h1 {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.home__overVideo p {
  color: #f1f1f1;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  z-index: 1;
}

.search-form input,
.search-form select {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  flex: 1 1 200px;
  max-width: 250px;
  background-color: var(--color-bg);
  color: var(--color-primary);
}

.search-form__location-select {
  padding: 0.75rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: var(--color-bg);
  color: var(--color-text);
  flex: 1 1 200px;
  max-width: 250px;
}
.search-form button {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-bg);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

/* cat Section */
.categories {
  padding: 3rem 1rem;
  background-color: var(--color-secondary-3);
}

.categories h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--color-text);
  margin-bottom: 2rem;
}

.categories__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
}

.categories__figure {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.categories__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.categories__caption {
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
  font-weight: bold;
}
